.item:hover .item__overlay {
  transform: translateY(0);
}

.item__button {
  background: none;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  text-transform: uppercase;
}

/* open button styles */
.overlay.overlay--open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay__inner {
  background: #fff;
  width: 700px;
  padding: 20px;
}

@media screen and (max-width: 960px) {
  .overlay__inner {
    width: 100%;
    padding: 10px 0;
  }
}
