.item:hover .item__overlay {
  transform: translateY(0);
}

.item__button {
  background: none;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  text-transform: uppercase;
}
